
.Logo img{
    height:100%;
    box-sizing: border-box;
    overflow: hidden;
}
@media(max-width:500px){
    .Logo img{
        position: absolute;
        left: 0;
        top:0;
        box-sizing: border-box;
        /* height: 100px; */
    }
}