.Content {
    width: 50%;
    height: 400px;
    margin: 5% auto;
    margin-top:70px;
    text-align: center;
    position: fixed;
    display: block;
    /* align-self: center; */
    left:0;
    right:0;
}