.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
    
}
.NavigationItem a{
    color: white;
    background-color: brown;
    text-decoration: none;
    padding: 16px 10px;
    height: 100%;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block;
    width:100;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    background-color: indianred;
    border-bottom: 4px solid #ff4488;
    color: white
}
@media (max-width: 500px){
    .NavigationItem{
        width: 100%;
        height:auto;
        align-items: center;
        
    }
    .NavigationItem a{
        width: 100%
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color:indianred;
        border-bottom: 4px solid #ff4488;
        color: white;
        width:100%
}
    
}
