.NextButton{
    display: inline-block;
    border:none;
    background-color: #485563;
    outline: none;
    margin-top: 8px;
    color:whitesmoke;
    margin-right: 30px;
    
    
}
.NextButton:hover,
.NextButton:active{
    color: indianred;
}