.PreviousButton{
    display: inline-block;
    border:none;
    background-color: #485563;
    outline: none;
    margin-top: 8px;
    color:white;
    margin-right: 7px;
    
    
}
.PreviousButton:hover,
.PreviousButton:active{
    color: indianred;
}