.SearchBar{
    display: flex;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    justify-content: space-between 
}
.SearchBar h3{
    color: indianred;
    padding-left: 10px;
    padding-right: 10px;

}
.SearchBar form{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-width: 2px;
    border-radius:8px;
    border-style: solid;
    border-color: gray;
    align-items: center;

}
.SearchBar input{
    width: 100%;
    height: 100%;
    font-size: 17px;
    -webkit-appearance: none;
    outline: none;
    border:none;
    box-sizing: border-box;
    
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.SearchBar form:focus{
    border-color: brown;
}
.SearchButton{
    display: inline-block;
    border:none;
    outline: none;
    color:rgb(179, 156, 156);
    margin-right: 5px;    
    
}
.SearchButton:hover,
.SearchButton:active{
    color: indianred;
}
.SearchBar button{
    color: white;
    background-color: brown;
    box-shadow: none;
    border:none;
    border-radius:8px;
    outline: none;
    height: 50px;
    /* height: 100%; */
}
.SearchBar button:hover{
    background-color: indianred;
    /* border-bottom: 4px solid #ff4488; */
    color: white
}
.Wrapper{
    display:block;
    width: 50%;
    position: relative;
    
}
.Wrapper section{
    position: absolute;
    z-index: 150;
    width:100%;
    background-color: white;
    text-align: left;
}
.Wrapper p{
    /* background-color: white; */
    /* text-align: left; */
    border-bottom: 2px, solid, black;
    box-sizing: border-box;
    
}
.Wrapper p:hover{
    cursor: pointer;
    background-color: lightgray;
}

