.SearchBar{
    display: flex;
    text-align: center;
    width: 100%;
    /* padding-bottom: 10px; */
    justify-content: space-around; 
}
.SearchBar h3{
    color: indianred;
    padding-left: 10px;
    padding-right: 10px;

}
.SearchBar form{
    width:100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    /* border-width: 2px; */
    /* border-radius:8px; */
    align-items: center;
    border: 2px solid;
    background-color: #bdc3c7

}
.SearchBar input{
    width: 100%;
    height: 100%;
    font-size: 17px;
    /* color: white; */
    -webkit-appearance: none;
    outline: none;
    border:none;
    box-sizing: border-box;
    background-color: #bdc3c7;
    
    /* margin-bottom: 2px; */
    
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.SearchBar form:focus{
    border-color: brown;
}
.SearchButton{
    display: inline-block;
    border:none;
    outline: none;
    color:rgb(179, 156, 156);
    margin-right: 5px;  
    pointer-events: none;  
    
}

.SearchBar p{
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.SearchBar p:hover{
    color: indianred;
    cursor: pointer;
}
.Wrapper{
    display:block;
    width: 50%;
    position: relative;
    
}
.Wrapper section{
    position: absolute;
    z-index: 150;
    width:100%;
    background-color: white;
    text-align: left;
}
.Wrapper p{
    /* background-color: white; */
    /* text-align: left; */
    border-bottom: 2px, solid, black;
    box-sizing: border-box;
    color:black;
    font-size: 17px;

    
}
.Wrapper p:hover{
    cursor: pointer;
    /* background-color: lightgray; */
    color:indianred;
}

