.SettingsMenu{
    display:block;
    width:500px;
    position: relative;
    /* height:500px; */
    text-align: left;
    padding:10px;
    z-index: 150;
}
.SettingsMenu p{
  padding-left:0%;
}
.Menu{
  display:flex;
  flex-direction: column;
  /* Kwidth:500px; */
  /* padding-left:40%;  */
  padding-top:5%;
  padding-right:10%

}


.SettingsMenu span{
  display: flex;
  justify-content: space-around;
  /* position: absolute; */
  flex-direction: row;
  border-bottom: 1px solid gray;
  padding:10px;
  
}
.ArrowContainer{
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
}
.ArrowContainer p{
  margin: 0;
  cursor: pointer;
}
.ArrowContainer p:hover{
  color: brown
}
.SettingsMenu i{
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 5px solid black;
    padding-top: 5px;
    cursor: pointer;
}
.SettingsMenu label{
  padding:2px;
}
.SettingsMenu label:hover{
  color:brown;
  cursor: pointer;
  border-bottom: 1px solid brown
}
.SettingsMenu label{
  padding:2px;
}
.SettingsMenu section {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .SettingsMenu input {display:none;}
  .Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .Slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .SettingsMenu input:checked + .Slider {
    background-color: #2196F3;
  }
  
  .SettingsMenu input:focus + .Slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .SettingsMenu input:checked + .Slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  @media (max-width:600px){
    .SettingsMenu{
      width: 250px;
    }
  }