.SearchResult h3{
    color: brown;
    border-bottom: 2px solid white
    
    
}
.SearchResult ul{
    list-style: none;
}
.SearchResult li{
    padding: 5px;
    cursor:pointer;

}
.SearchResult li:hover,
.SearchResult li:active{
    color: indianred;
}