.PauseButton{
    display: inline-block;
    border:none;
    background-color: #485563;;
    outline: none;
    margin-top: 8px;
    color:whitesmoke;
    margin-right: 7px;
    
    
}
.PauseButton:hover,
.PauseButton:active{
    color: indianred;
}