.ToggleButton{
    height:80%;
    width:40px;
    top:0;
    left:0;
    background-color: bisque;
    border:none;
    color: white
}
@media (min-width: 500px){
    .ToggleButton{
        display: none;
    }
}
